@using Entities.Concrete
@model List<Car>
@{
    ViewBag.Title = "Home Page";
}


<table class="table table-bordered" style="margin-top:20px">

    <tr>
        <th>Id</th>
        <th>Araç Adı</th>
        <th>Model Yılı</th>
        <th>Ücreti</th>
        <th>Açıklama</th>
        <th>Seçim</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Id</td>
            <td>@k.CarName</td>
            <td>@k.ModelYear</td>
            <td>@k.DailyPrice</td>
            <td>@k.Description</td>
            <td>
                <a href="#" class="btn btn-warning">Güncelle</a>
                <a href="#" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>

<a href="/Car/CarAdd" class="btn btn-success">Yeni Araç Ekle</a>
@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}
